<div class="blog-page blog-content-1" id="initBlogIndex">
    <div class="row">
        <div class="col-lg-6">
            <div class="blog-post-lg bordered blog-container">
                <div class="blog-img-thumb">
                    <a href="%%##link1##%%" id="img1"> <img
                        src="http://img.soaer.com/pages/img/page_general_search/5.jpg" />
                    </a>
                </div>
                <div class="blog-post-content">
                    <h2 class="blog-title blog-post-title">
                        <a id="b1" href="%%##link1##%%">%%##title1##%%</a>
                    </h2>
                    <p class="blog-post-desc" id="p1">%%##content1##%%</p>
                </div>
            </div>
            <div class="blog-post-lg bordered blog-container">
                <div class="blog-img-thumb">
                    <a href="%%##link2##%%" id="img2"> <img
                        src="http://img.soaer.com/pages/img/page_general_search/7.jpg" />
                    </a>
                </div>
                <div class="blog-post-content">
                    <h2 class="blog-title blog-post-title">
                        <a href="%%##link2##%%" id="b2">%%##title2##%%</a>
                    </h2>
                    <p class="blog-post-desc" id="p2">%%##content2##%%</p>
                </div>
            </div>
            <div class="blog-post-lg bordered blog-container">
                <div class="blog-img-thumb">
                    <a href="%%##link3##%%" id="img9"> <img
                        src="http://img.soaer.com/pages/img/page_general_search/1.jpg" />
                    </a>
                </div>
                <div class="blog-post-content">
                    <h2 class="blog-title blog-post-title">
                        <a href="%%##link3##%%" id="b9">%%##title3##%%</a>
                    </h2>
                    <p class="blog-post-desc" id="p9">%%##content3##%%</p>
                </div>
            </div>
            <div class="blog-post-lg bordered blog-container">
                <div class="blog-img-thumb">
                    <a href="%%##link4##%%" id="img10"> <img
                        src="http://img.soaer.com/pages/img/page_general_search/2.jpg" />
                    </a>
                </div>
                <div class="blog-post-content">
                    <h2 class="blog-title blog-post-title">
                        <a href="%%##link4##%%" id="b10">%%##title4##%%</a>
                    </h2>
                    <p class="blog-post-desc" id="p10">%%##content4##%%</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link5##%%" id="img3"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/1.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link5##%%" id="b3">%%##title5##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p3">%%##content5##%%</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link6##%%" id="img4"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/2.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link6##%%" id="b4">%%##title6##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p4">%%##content6##%%</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link7##%%" id="img5"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/2.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link7##%%" id="b5">%%##title7##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p5">%%##content7##%%</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link8##%%" id="img6"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/7.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link8##%%" id="b6">%%##title8##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p6">%%##content8##%%</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link9##%%" id="img7"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/04.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link9##%%" id="b7">%%##title9##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p7">%%##content9##%%</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post-sm bordered blog-container">
                        <div class="blog-img-thumb">
                            <a href="%%##link10##%%" id="img8"> <img
                                src="http://img.soaer.com/pages/img/page_general_search/6.jpg" />
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h2 class="blog-title blog-post-title">
                                <a href="%%##link10##%%" id="b8">%%##title10##%%</a>
                            </h2>
                            <p class="blog-post-desc" id="p8">%%##content10##%%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>